## Exercise 4
Let's dive into the serious business now!

### Description
[Kaggle](http://www.kagle.com/) is a great platform to learn machine learning. They offer free datasets and organize competitions around them. You can even be paid if you win one of them!

Now that you know how to build a classifier, try with [the titanic dataset!](https://www.kaggle.com/c/titanic).

### Steps
1. Download the dataset.
2. Import it in a jupyter notebook.
3. Analyse the data.
4. Divide the dataset. (train data and test data)
5. Build a classifier using the algorithm of you choice and fit it with your train data.
6. Evaluate the model with your test data.
7. When you're satisfied with the result, fit your model with the complete dataset.
8. Predict the Kaggle's test set and [submit your prediciton](https://www.kaggle.com/c/titanic/overview).
9. Which score did you get?

**DISCLAIMER:** If you look at Kaggle's leaderboard, you will see a lot of people have a score of 100%. They just found the name of people that survived online. Great lesson here, when you are learning something, never compare yourself to others. All that matters is what you've learned.

In [1]:
# Add you code here...
import pandas as pd
df_train = pd.read_csv('./titanic/train.csv')
df_test = pd.read_csv('./titanic/test.csv')

x = df_train.drop('Survived',axis=1)
y = df_train['Survived']

In [2]:
# import sweetviz as sv

# my_report = sv.analyze(df_train, target_feat="Survived")
# my_report.show_html()

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
import re

pattern_title = '(, [a-zA-Z]+.)'
test = "Braund, Mr. Owen Harris"
pattern_before ='^\S*'
pattern_after = '\s(.*)'

In [5]:
df_train['Title'] =df_train['Name'].str.extract(pattern_title)
df_train['Ticket_1'] = df_train['Ticket'].str.findall(pattern_before)
df_train['Ticket_2'] =df_train['Ticket'].str.findall(pattern_after)

In [6]:

for index,row in df_train.iterrows():
    if row['Ticket_2'] == []:
        df_train.loc[index,'Ticket_2'] = row['Ticket_1']
    else:
        df_train.loc[index,'Ticket_2'] = df_train.loc[index,'Ticket_2'][0]

df_train['Ticket_1']= df_train['Ticket_1'].str[0]
# df_train['Ticket_2']= df_train['Ticket_2'].str[0]
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Ticket_1,Ticket_2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,", Mr.",A/5,21171
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,", Mrs.",PC,17599
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,", Miss.",STON/O2.,3101282
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,", Mrs.",113803,113803
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,", Mr.",373450,373450

In [7]:
df_train.to_csv("titafinal.csv", index= None)

In [8]:
df_train['class_ticket'] = df_train['Ticket_1'].map(lambda x: re.sub(r'\W+', '', x))
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Ticket_1,Ticket_2,class_ticket
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,", Mr.",A/5,21171,A5
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,", Mrs.",PC,17599,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,", Miss.",STON/O2.,3101282,STONO2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,", Mrs.",113803,113803,113803
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,", Mr.",373450,373450,373450

In [9]:
df_train['class_ticket'] = df_train['class_ticket'].str.replace('\d+', '')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Ticket_1,Ticket_2,class_ticket
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,", Mr.",A/5,21171,A
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,", Mrs.",PC,17599,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,", Miss.",STON/O2.,3101282,STONO
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,", Mrs.",113803,113803,
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,", Mr.",373450,373450,

In [10]:
df_train['Title'] = df_train['Title'].map(lambda x: re.sub(r'\W+', '', x))
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Ticket_1,Ticket_2,class_ticket
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,A/5,21171,A
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,PC,17599,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,STON/O2.,3101282,STONO
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,113803,113803,
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,373450,373450,

In [11]:
def cleaning(df_train):
    df_train['Title'] =df_train['Name'].str.extract(pattern_title)
    df_train['Ticket_1'] = df_train['Ticket'].str.findall(pattern_before)
    df_train['Ticket_2'] =df_train['Ticket'].str.findall(pattern_after) 
    for index,row in df_train.iterrows():
        if row['Ticket_2'] == []:
            df_train.loc[index,'Ticket_2'] = row['Ticket_1']
        else:
            df_train.loc[index,'Ticket_2'] = df_train.loc[index,'Ticket_2'][0]
    df_train['Ticket_1']= df_train['Ticket_1'].str[0]
    df_train['class_ticket'] = df_train['Ticket_1'].map(lambda x: re.sub(r'\W+', '', x))
    df_train['class_ticket'] = df_train['class_ticket'].str.replace('\d+', '')
    df_train['Title'] = df_train['Title'].map(lambda x: re.sub(r'\W+', '', x))
    del df_train['Name']
    del df_train['Ticket_1']
    del df_train['Ticket']
    df_train['Cabin'] = df_train['Cabin'].fillna("Unknown")
    df_train['class_ticket'] = df_train['class_ticket'].fillna("Unknown")
    df_train['Age']= df_train['Age'].fillna(df_train['Age'].mean())
    df_train['Embarked'] = df_train['Embarked'].fillna("U")
    df_train['num_ticket'] = df_train['Ticket_2']
    del df_train['Ticket_2']
    df_train['num_ticket'] = df_train['num_ticket'].map(lambda x: re.sub(r'\W+', '', x))
    df_train['num_ticket'] = df_train['num_ticket'].str.replace('\D+', '')
    df_train['num_ticket'].replace('',0, inplace=True)
    df_train.astype({'Sex': 'str','Cabin': 'str','Embarked': 'str','Title': 'str','num_ticket': 'int64'}).dtypes

In [12]:
del df_train['Name']
del df_train['Ticket_1']
del df_train['Ticket']
df_train.to_csv("titafinal.csv", index= None)

In [13]:
df_train['Cabin'] = df_train['Cabin'].fillna("Unknown")
df_train['class_ticket'] = df_train['class_ticket'].fillna("Unknown")

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   891 non-null    int64
 1   Survived      891 non-null    int64
 2   Pclass        891 non-null    int64
 3   Sex           891 non-null    object
 4   Age           714 non-null    float64
 5   SibSp         891 non-null    int64
 6   Parch         891 non-null    int64
 7   Fare          891 non-null    float64
 8   Cabin         891 non-null    object
 9   Embarked      889 non-null    object
 10  Title         891 non-null    object
 11  Ticket_2      891 non-null    object
 12  class_ticket  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [14]:
df_train['Age']= df_train['Age'].fillna(df_train['Age'].mean())
df_train['Embarked'] = df_train['Embarked'].fillna("U")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   891 non-null    int64
 1   Survived      891 non-null    int64
 2   Pclass        891 non-null    int64
 3   Sex           891 non-null    object
 4   Age           891 non-null    float64
 5   SibSp         891 non-null    int64
 6   Parch         891 non-null    int64
 7   Fare          891 non-null    float64
 8   Cabin         891 non-null    object
 9   Embarked      891 non-null    object
 10  Title         891 non-null    object
 11  Ticket_2      891 non-null    object
 12  class_ticket  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [15]:
df_train['num_ticket'] = df_train['Ticket_2']
df_train.to_csv("titafinal.csv", index= None)

In [16]:
del df_train['Ticket_2']
df_train.to_csv("titafinal.csv", index= None)

In [17]:
df_train['num_ticket'] = df_train['num_ticket'].map(lambda x: re.sub(r'\W+', '', x))

In [18]:
df_train['num_ticket'] = df_train['num_ticket'].str.replace('\D+', '')
df_train.to_csv("titafinal.csv", index= None)

In [19]:
df_train['num_ticket'].replace('',0, inplace=True)
df_train.to_csv("titafinal.csv", index= None)

In [23]:
df_test['class_ticket'].replace('',"U", inplace=True)
df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Title,class_ticket,num_ticket
0,1,0,3,male,22.0,1,0,7.2500,Unknown,S,Mr,A,21171
1,2,1,1,female,38.0,1,0,71.2833,C85,C,Mrs,PC,17599
2,3,1,3,female,26.0,0,0,7.9250,Unknown,S,Miss,STONO,3101282
3,4,1,1,female,35.0,1,0,53.1000,C123,S,Mrs,,113803
4,5,0,3,male,35.0,0,0,8.0500,Unknown,S,Mr,,373450

In [24]:
df_train.astype({'Sex': 'str','Cabin': 'str','Embarked': 'str','Title': 'str','num_ticket': 'int64'}).dtypes

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   891 non-null    int64
 1   Survived      891 non-null    int64
 2   Pclass        891 non-null    int64
 3   Sex           891 non-null    object
 4   Age           891 non-null    float64
 5   SibSp         891 non-null    int64
 6   Parch         891 non-null    int64
 7   Fare          891 non-null    float64
 8   Cabin         891 non-null    object
 9   Embarked      891 non-null    object
 10  Title         891 non-null    object
 11  class_ticket  891 non-null    object
 12  num_ticket    891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [21]:
cleaning(df_test)

In [29]:
df_train['Cabin'] = df_train['Cabin'].astype(str).str[0]
df_test['Cabin'] = df_test['Cabin'].astype(str).str[0]
df_train.to_csv("tita_train.csv", index= None)
df_train.to_csv("tita_test.csv", index= None)

In [30]:
df_test.to_csv("tita_test.csv", index= None)

In [31]:
df_train['class_ticket'].replace('',"U", inplace=True)
df_train.to_csv("tita_train.csv", index= None)

In [25]:
x_train=df_train.drop('Survived',axis=1) 
y_train=df_train['Survived']

x_test= df_test
y_test= pd.read_csv('./titanic/gender_submission.csv')

y_test = y_test['Survived']

x_test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Title,class_ticket,num_ticket
0,892,3,male,34.5,0,0,7.8292,Unknown,Q,Mr,U,330911
1,893,3,female,47.0,1,0,7.0000,Unknown,S,Mrs,U,363272
2,894,2,male,62.0,0,0,9.6875,Unknown,Q,Mr,U,240276
3,895,3,male,27.0,0,0,8.6625,Unknown,S,Mr,U,315154
4,896,3,female,22.0,1,1,12.2875,Unknown,S,Mrs,U,3101298

In [34]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
import pickle
from xgboost import XGBRegressor

In [35]:
numerical_features = ['Age', 'SibSp', 'Parch', 'Fare', 'num_ticket']
categorical_features = [
                            'Sex','Pclass', 'Cabin', 'Embarked',
                            'Title','class_ticket']
numerical_pipeline = make_pipeline(SimpleImputer(), StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(strategy="most_frequent"),
                                          OneHotEncoder())

In [43]:
transformer = make_column_transformer((numerical_pipeline, numerical_features),
                                                    (categorical_pipeline, categorical_features))

In [107]:
df_train = pd.read_csv("tita_train.csv",)
df_test = pd.read_csv("tita_test.csv",)
df=pd.read_csv('./Titanic/gender_submission.csv')

X_train=df_train.drop('Survived',axis=1)
X_test = df_test
y_train=df_train['Survived'] 
y_test=df['Survived']

In [108]:
X_train = pd.get_dummies(X_train,columns=categorical_features)
X_test = pd.get_dummies(X_test,columns=categorical_features)

In [109]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[numerical_features] = sc.fit_transform(X_train[numerical_features])
X_test[numerical_features] = sc.transform(X_test[numerical_features])

In [117]:
a = np.setdiff1d(X_test.columns, X_train.columns)
b = np.setdiff1d(X_train.columns, X_test.columns)


a

array([], dtype=object)

In [111]:
X_train['Title_Dona']=0
X_train['class_ticket_AQ']=0
X_train['class_ticket_LP']=0
X_train['class_ticket_STONOQ']=0
X_test ['Cabin_T']=0
X_test ['Embarked_U']=0
X_test ['Title_Jonkheer']=0
X_test ['Title_Lady']=0
X_test ['Title_Major']=0
X_test ['Title_Mlle']=0
X_test ['class_ticket_CASOTON']=0
X_test ['class_ticket_Fa']=0
X_test ['class_ticket_LINE']=0
X_test ['class_ticket_PPP']=0
X_test ['class_ticket_SCOW']=0
X_test ['class_ticket_SOP']=0
X_test ['class_ticket_SP']=0
X_test ['class_ticket_SWPP']=0
X_test ['Title_Don']=0
X_test ['Title_Capt']=0
X_test ['Title_Mme']=0
X_test ['Title_Sir']=0
X_test ['Title_the']=0
X_test ['class_ticket_AS']=0

In [112]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 74 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           891 non-null    int64
 1   Age                   891 non-null    float64
 2   SibSp                 891 non-null    float64
 3   Parch                 891 non-null    float64
 4   Fare                  891 non-null    float64
 5   num_ticket            891 non-null    float64
 6   Sex_female            891 non-null    uint8
 7   Sex_male              891 non-null    uint8
 8   Pclass_1              891 non-null    uint8
 9   Pclass_2              891 non-null    uint8
 10  Pclass_3              891 non-null    uint8
 11  Cabin_A               891 non-null    uint8
 12  Cabin_B               891 non-null    uint8
 13  Cabin_C               891 non-null    uint8
 14  Cabin_D               891 non-null    uint8
 15  Cabin_E               891 non-null    uint8
 16  Cabin_F               891 non-null    uint8
 17  Cabin_G               891 non-null    uint8
 18  Cabin_T               891 non-null    uint8
 19  Cabin_U               891 non-null    uint8
 20  Embarked_C            891 non-null    uint8
 21  Embarked_Q            891 non-null    uint8
 22  Embarked_S            891 non-null    uint8
 23  Embarked_U            891 non-null    uint8
 24  Title_Capt            891 non-null    uint8
 25  Title_Col             891 non-null    uint8
 26  Title_Don             891 non-null    uint8
 27  Title_Dr              891 non-null    uint8
 28  Title_Jonkheer        891 non-null    uint8
 29  Title_Lady            891 non-null    uint8
 30  Title_Major           891 non-null    uint8
 31  Title_Master          891 non-null    uint8
 32  Title_Miss            891 non-null    uint8
 33  Title_Mlle            891 non-null    uint8
 34  Title_Mme             891 non-null    uint8
 35  Title_Mr              891 non-null    uint8
 36  Title_Mrs             891 non-null    uint8
 37  Title_Ms              891 non-null    uint8
 38  Title_Rev             891 non-null    uint8
 39  Title_Sir             891 non-null    uint8
 40  Title_the             891 non-null    uint8
 41  class_ticket_A        891 non-null    uint8
 42  class_ticket_AS       891 non-null    uint8
 43  class_ticket_C        891 non-null    uint8
 44  class_ticket_CA       891 non-null    uint8
 45  class_ticket_CASOTON  891 non-null    uint8
 46  class_ticket_FC       891 non-null    uint8
 47  class_ticket_FCC      891 non-null    uint8
 48  class_ticket_Fa       891 non-null    uint8
 49  class_ticket_LINE     891 non-null    uint8
 50  class_ticket_PC       891 non-null    uint8
 51  class_ticket_PP       891 non-null    uint8
 52  class_ticket_PPP      891 non-null    uint8
 53  class_ticket_SC       891 non-null    uint8
 54  class_ticket_SCA      891 non-null    uint8
 55  class_ticket_SCAH     891 non-null    uint8
 56  class_ticket_SCOW     891 non-null    uint8
 57  class_ticket_SCPARIS  891 non-null    uint8
 58  class_ticket_SCParis  891 non-null    uint8
 59  class_ticket_SOC      891 non-null    uint8
 60  class_ticket_SOP      891 non-null    uint8
 61  class_ticket_SOPP     891 non-null    uint8
 62  class_ticket_SOTONO   891 non-null    uint8
 63  class_ticket_SOTONOQ  891 non-null    uint8
 64  class_ticket_SP       891 non-null    uint8
 65  class_ticket_STONO    891 non-null    uint8
 66  class_ticket_SWPP     891 non-null    uint8
 67  class_ticket_U        891 non-null    uint8
 68  class_ticket_WC       891 non-null    uint8
 69  class_ticket_WEP      891 non-null    uint8
 70  Title_Dona            891 non-null    int64
 71  class_ticket_AQ       891 non-null    int64
 72  class_ticket_LP       891 non-null    int64
 73  class_ticket_STONOQ   891 non-null    int64
dtypes: float64(5), int64(5), uint8(64)
memory usage: 125.4 KB

In [105]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 73 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           418 non-null    int64
 1   Age                   418 non-null    float64
 2   SibSp                 418 non-null    float64
 3   Parch                 418 non-null    float64
 4   Fare                  417 non-null    float64
 5   num_ticket            418 non-null    float64
 6   Sex_female            418 non-null    uint8
 7   Sex_male              418 non-null    uint8
 8   Pclass_1              418 non-null    uint8
 9   Pclass_2              418 non-null    uint8
 10  Pclass_3              418 non-null    uint8
 11  Cabin_A               418 non-null    uint8
 12  Cabin_B               418 non-null    uint8
 13  Cabin_C               418 non-null    uint8
 14  Cabin_D               418 non-null    uint8
 15  Cabin_E               418 non-null    uint8
 16  Cabin_F               418 non-null    uint8
 17  Cabin_G               418 non-null    uint8
 18  Cabin_U               418 non-null    uint8
 19  Embarked_C            418 non-null    uint8
 20  Embarked_Q            418 non-null    uint8
 21  Embarked_S            418 non-null    uint8
 22  Title_Col             418 non-null    uint8
 23  Title_Dona            418 non-null    uint8
 24  Title_Dr              418 non-null    uint8
 25  Title_Master          418 non-null    uint8
 26  Title_Miss            418 non-null    uint8
 27  Title_Mr              418 non-null    uint8
 28  Title_Mrs             418 non-null    uint8
 29  Title_Ms              418 non-null    uint8
 30  Title_Rev             418 non-null    uint8
 31  class_ticket_A        418 non-null    uint8
 32  class_ticket_AQ       418 non-null    uint8
 33  class_ticket_C        418 non-null    uint8
 34  class_ticket_CA       418 non-null    uint8
 35  class_ticket_FC       418 non-null    uint8
 36  class_ticket_FCC      418 non-null    uint8
 37  class_ticket_LP       418 non-null    uint8
 38  class_ticket_PC       418 non-null    uint8
 39  class_ticket_PP       418 non-null    uint8
 40  class_ticket_SC       418 non-null    uint8
 41  class_ticket_SCA      418 non-null    uint8
 42  class_ticket_SCAH     418 non-null    uint8
 43  class_ticket_SCPARIS  418 non-null    uint8
 44  class_ticket_SCParis  418 non-null    uint8
 45  class_ticket_SOC      418 non-null    uint8
 46  class_ticket_SOPP     418 non-null    uint8
 47  class_ticket_SOTONO   418 non-null    uint8
 48  class_ticket_SOTONOQ  418 non-null    uint8
 49  class_ticket_STONO    418 non-null    uint8
 50  class_ticket_STONOQ   418 non-null    uint8
 51  class_ticket_U        418 non-null    uint8
 52  class_ticket_WC       418 non-null    uint8
 53  class_ticket_WEP      418 non-null    uint8
 54  Cabin_T               418 non-null    int64
 55  Embarked_U            418 non-null    int64
 56  Title_Jonkheer        418 non-null    int64
 57  Title_Lady            418 non-null    int64
 58  Title_Major           418 non-null    int64
 59  Title_Mlle            418 non-null    int64
 60  class_ticket_CASOTON  418 non-null    int64
 61  class_ticket_Fa       418 non-null    int64
 62  class_ticket_LINE     418 non-null    int64
 63  class_ticket_PPP      418 non-null    int64
 64  class_ticket_SCOW     418 non-null    int64
 65  class_ticket_SOP      418 non-null    int64
 66  class_ticket_SP       418 non-null    int64
 67  class_ticket_SWPP     418 non-null    int64
 68  Title_Don             418 non-null    int64
 69  Title_Capt            418 non-null    int64
 70  Title_Mme             418 non-null    int64
 71  Title_Sir             418 non-null    int64
 72  Title_the             418 non-null    int64
dtypes: float64(5), int64(20), uint8(48)
memory usage: 101.4 KB

In [52]:
x_train = pd.DataFrame(transform_train)
x_test = pd.DataFrame(transform_test)

In [70]:
x_train.head()

                                                   0
0    (0, 0)\t-0.5924805998028931\n  (0, 1)\t0.432...
1    (0, 0)\t0.6387890120425208\n  (0, 1)\t0.4327...
2    (0, 0)\t-0.2846631968415396\n  (0, 1)\t-0.47...
3    (0, 0)\t0.40792595982150565\n  (0, 1)\t0.432...
4    (0, 0)\t0.40792595982150565\n  (0, 1)\t-0.47...

In [118]:
### Importing LazyRegressor
from lazypredict.Supervised import LazyRegressor
### Importing dataset available in sklearn
from sklearn import datasets
from sklearn.utils import shuffle
import numpy as np

reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
### fitting data in LazyClassifier
models, predictions = reg.fit(X_train, X_test, y_train, y_test)
### lets check which model did better on Breast Cancer Dataset
print(models)

 29%|██▊       | 12/42 [00:00<00:02, 13.02it/s]

GammaRegressor model failed to execute
Some value(s) of y are out of the valid range for family GammaDistribution

 79%|███████▊  | 33/42 [00:03<00:00,  9.18it/s]

RANSACRegressor model failed to execute
RANSAC could not find a valid consensus set. All `max_trials` iterations were skipped because each randomly chosen sub-sample failed the passing criteria. See estimator attributes for diagnostics (n_skips*).

100%|██████████| 42/42 [00:04<00:00,  8.77it/s]

                                       Adjusted R-Squared  \
Model
LinearSVR                                            0.74
HuberRegressor                                       0.74
LassoLarsIC                                          0.59
LassoLarsCV                                          0.59
LassoCV                                              0.58
ElasticNetCV                                         0.58
NuSVR                                                0.56
OrthogonalMatchingPursuit                            0.56
OrthogonalMatchingPursuitCV                          0.56
BayesianRidge                                        0.54
SVR                                                  0.53
RidgeCV                                              0.52
SGDRegressor                                         0.52
Ridge                                                0.52
TweedieRegressor                                     0.51
GeneralizedLinearRegressor                           0.51
AdaBoostRegressor                                    0.49
GradientBoostingRegressor                            0.43
XGBRegressor                                         0.41
PoissonRegressor                                     0.40
RandomForestRegressor                                0.38
BaggingRegressor                                     0.37
LGBMRegressor                                        0.35
KNeighborsRegressor                                  0.35
HistGradientBoostingRegressor                        0.33
LarsCV                                               0.30
ExtraTreesRegressor                                  0.13
KernelRidge                                         -0.07
MLPRegressor                                        -0.07
DummyRegressor                                      -0.22
ElasticNet                                          -0.22
LassoLars                                           -0.22
Lasso                                               -0.22
DecisionTreeRegressor                               -0.22
ExtraTreeRegressor                                  -0.53
PassiveAggressiveRegressor                          -1.50
GaussianProcessRegressor                       -291152.74
Lars                           -7704064578704217473024.00
TransformedTargetRegressor    -31429387204351812960256.00
LinearRegression              -31429387204351812960256.00

                                                R-Squared           RMSE  \
Model
LinearSVR                                            0.78           0.22
HuberRegressor                                       0.78           0.22
LassoLarsIC                                          0.66           0.28
LassoLarsCV                                          0.66           0.28
LassoCV                                              0.66           0.28
ElasticNetCV                                         0.66           0.28
NuSVR                                                0.64           0.29
OrthogonalMatchingPursuit                            0.64           0.29
OrthogonalMatchingPursuitCV                          0.64           0.29
BayesianRidge                                        0.62           0.30
SVR                                                  0.61           0.30
RidgeCV                                              0.61           0.30
SGDRegressor                                         0.61           0.30
Ridge                                                0.61           0.30
TweedieRegressor                                     0.60           0.31
GeneralizedLinearRegressor                           0.60           0.31
AdaBoostRegressor                                    0.58           0.31
GradientBoostingRegressor                            0.53           0.33
XGBRegressor                                         0.51           0.34
PoissonRegressor                                     0.51           0.34
RandomForestRegressor                                0.49           0.34
BaggingRegressor                                     0.48           0.35
LGBMRegressor                                        0.47           0.35
KNeighborsRegressor                                  0.46           0.35
HistGradientBoostingRegressor                        0.45           0.36
LarsCV                                               0.42           0.37
ExtraTreesRegressor                                  0.28           0.41
KernelRidge                                          0.12           0.45
MLPRegressor                                         0.12           0.45
DummyRegressor                                      -0.00           0.48
ElasticNet                                          -0.00           0.48
LassoLars                                           -0.00           0.48
Lasso                                               -0.00           0.48
DecisionTreeRegressor                               -0.00           0.48
ExtraTreeRegressor                                  -0.26           0.54
PassiveAggressiveRegressor                          -1.06           0.69
GaussianProcessRegressor                       -239485.17         235.41
Lars                           -6336916428046874968064.00 38293522744.40
TransformedTargetRegressor    -25851989954658685681664.00 77345191622.97
LinearRegression              -25851989954658685681664.00 77345191622.97

                               Time Taken
Model
LinearSVR                            0.11
HuberRegressor                       0.11
LassoLarsIC                          0.03
LassoLarsCV                          0.06
LassoCV                              0.13
ElasticNetCV                         0.15
NuSVR                                0.13
OrthogonalMatchingPursuit            0.02
OrthogonalMatchingPursuitCV          0.02
BayesianRidge                        0.02
SVR                                  0.10
RidgeCV                              0.03
SGDRegressor                         0.02
Ridge                                0.01
TweedieRegressor                     0.02
GeneralizedLinearRegressor           0.02
AdaBoostRegressor                    0.07
GradientBoostingRegressor            0.18
XGBRegressor                         0.19
PoissonRegressor                     0.01
RandomForestRegressor                0.35
BaggingRegressor                     0.05
LGBMRegressor                        0.08
KNeighborsRegressor                  0.06
HistGradientBoostingRegressor        1.16
LarsCV                               0.10
ExtraTreesRegressor                  0.27
KernelRidge                          0.04
MLPRegressor                         0.74
DummyRegressor                       0.01
ElasticNet                           0.02
LassoLars                            0.02
Lasso                                0.02
DecisionTreeRegressor                0.02
ExtraTreeRegressor                   0.03
PassiveAggressiveRegressor           0.01
GaussianProcessRegressor             0.17
Lars                                 0.03
TransformedTargetRegressor           0.02
LinearRegression                     0.02

In [123]:
X_test.info()
X_test['Fare']= X_test['Fare'].fillna(X_train['Fare'].mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 74 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           418 non-null    int64
 1   Age                   418 non-null    float64
 2   SibSp                 418 non-null    float64
 3   Parch                 418 non-null    float64
 4   Fare                  417 non-null    float64
 5   num_ticket            418 non-null    float64
 6   Sex_female            418 non-null    uint8
 7   Sex_male              418 non-null    uint8
 8   Pclass_1              418 non-null    uint8
 9   Pclass_2              418 non-null    uint8
 10  Pclass_3              418 non-null    uint8
 11  Cabin_A               418 non-null    uint8
 12  Cabin_B               418 non-null    uint8
 13  Cabin_C               418 non-null    uint8
 14  Cabin_D               418 non-null    uint8
 15  Cabin_E               418 non-null    uint8
 16  Cabin_F               418 non-null    uint8
 17  Cabin_G               418 non-null    uint8
 18  Cabin_U               418 non-null    uint8
 19  Embarked_C            418 non-null    uint8
 20  Embarked_Q            418 non-null    uint8
 21  Embarked_S            418 non-null    uint8
 22  Title_Col             418 non-null    uint8
 23  Title_Dona            418 non-null    uint8
 24  Title_Dr              418 non-null    uint8
 25  Title_Master          418 non-null    uint8
 26  Title_Miss            418 non-null    uint8
 27  Title_Mr              418 non-null    uint8
 28  Title_Mrs             418 non-null    uint8
 29  Title_Ms              418 non-null    uint8
 30  Title_Rev             418 non-null    uint8
 31  class_ticket_A        418 non-null    uint8
 32  class_ticket_AQ       418 non-null    uint8
 33  class_ticket_C        418 non-null    uint8
 34  class_ticket_CA       418 non-null    uint8
 35  class_ticket_FC       418 non-null    uint8
 36  class_ticket_FCC      418 non-null    uint8
 37  class_ticket_LP       418 non-null    uint8
 38  class_ticket_PC       418 non-null    uint8
 39  class_ticket_PP       418 non-null    uint8
 40  class_ticket_SC       418 non-null    uint8
 41  class_ticket_SCA      418 non-null    uint8
 42  class_ticket_SCAH     418 non-null    uint8
 43  class_ticket_SCPARIS  418 non-null    uint8
 44  class_ticket_SCParis  418 non-null    uint8
 45  class_ticket_SOC      418 non-null    uint8
 46  class_ticket_SOPP     418 non-null    uint8
 47  class_ticket_SOTONO   418 non-null    uint8
 48  class_ticket_SOTONOQ  418 non-null    uint8
 49  class_ticket_STONO    418 non-null    uint8
 50  class_ticket_STONOQ   418 non-null    uint8
 51  class_ticket_U        418 non-null    uint8
 52  class_ticket_WC       418 non-null    uint8
 53  class_ticket_WEP      418 non-null    uint8
 54  Cabin_T               418 non-null    int64
 55  Embarked_U            418 non-null    int64
 56  Title_Jonkheer        418 non-null    int64
 57  Title_Lady            418 non-null    int64
 58  Title_Major           418 non-null    int64
 59  Title_Mlle            418 non-null    int64
 60  class_ticket_CASOTON  418 non-null    int64
 61  class_ticket_Fa       418 non-null    int64
 62  class_ticket_LINE     418 non-null    int64
 63  class_ticket_PPP      418 non-null    int64
 64  class_ticket_SCOW     418 non-null    int64
 65  class_ticket_SOP      418 non-null    int64
 66  class_ticket_SP       418 non-null    int64
 67  class_ticket_SWPP     418 non-null    int64
 68  Title_Don             418 non-null    int64
 69  Title_Capt            418 non-null    int64
 70  Title_Mme             418 non-null    int64
 71  Title_Sir             418 non-null    int64
 72  Title_the             418 non-null    int64
 73  class_ticket_AS       418 non-null    int64
dtypes: float64(5), int64(21), uint8(48)
memory usage: 104.6 KB

In [149]:
from sklearn import tree
from xgboost import XGBRegressor
clf=tree.DecisionTreeClassifier()
xgb = XGBRegressor()
#Train the model using the training sets y_pred=clf.predict(X_test)
predictor = xgb.fit(X_train,y_train)

y_pred=predictor.predict(X_test)

ValueError: feature_names mismatch: ['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare', 'num_ticket', 'Sex_female', 'Sex_male', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T', 'Cabin_U', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Embarked_U', 'Title_Capt', 'Title_Col', 'Title_Don', 'Title_Dr', 'Title_Jonkheer', 'Title_Lady', 'Title_Major', 'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme', 'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir', 'Title_the', 'class_ticket_A', 'class_ticket_AS', 'class_ticket_C', 'class_ticket_CA', 'class_ticket_CASOTON', 'class_ticket_FC', 'class_ticket_FCC', 'class_ticket_Fa', 'class_ticket_LINE', 'class_ticket_PC', 'class_ticket_PP', 'class_ticket_PPP', 'class_ticket_SC', 'class_ticket_SCA', 'class_ticket_SCAH', 'class_ticket_SCOW', 'class_ticket_SCPARIS', 'class_ticket_SCParis', 'class_ticket_SOC', 'class_ticket_SOP', 'class_ticket_SOPP', 'class_ticket_SOTONO', 'class_ticket_SOTONOQ', 'class_ticket_SP', 'class_ticket_STONO', 'class_ticket_SWPP', 'class_ticket_U', 'class_ticket_WC', 'class_ticket_WEP', 'Title_Dona', 'class_ticket_AQ', 'class_ticket_LP', 'class_ticket_STONOQ'] ['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare', 'num_ticket', 'Sex_female', 'Sex_male', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_U', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Title_Col', 'Title_Dona', 'Title_Dr', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'class_ticket_A', 'class_ticket_AQ', 'class_ticket_C', 'class_ticket_CA', 'class_ticket_FC', 'class_ticket_FCC', 'class_ticket_LP', 'class_ticket_PC', 'class_ticket_PP', 'class_ticket_SC', 'class_ticket_SCA', 'class_ticket_SCAH', 'class_ticket_SCPARIS', 'class_ticket_SCParis', 'class_ticket_SOC', 'class_ticket_SOPP', 'class_ticket_SOTONO', 'class_ticket_SOTONOQ', 'class_ticket_STONO', 'class_ticket_STONOQ', 'class_ticket_U', 'class_ticket_WC', 'class_ticket_WEP', 'Cabin_T', 'Embarked_U', 'Title_Jonkheer', 'Title_Lady', 'Title_Major', 'Title_Mlle', 'class_ticket_CASOTON', 'class_ticket_Fa', 'class_ticket_LINE', 'class_ticket_PPP', 'class_ticket_SCOW', 'class_ticket_SOP', 'class_ticket_SP', 'class_ticket_SWPP', 'Title_Don', 'Title_Capt', 'Title_Mme', 'Title_Sir', 'Title_the', 'class_ticket_AS']

In [150]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    print(predictions.shape)
    print(mape.shape)
    print(predictions.shape)
    print(errors.shape)
    print(test_labels.shape)
    print(type(test_labels))
    
    return accuracy

base_accuracy = evaluate(predictor, X_test, y_test)

ValueError: feature_names mismatch: ['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare', 'num_ticket', 'Sex_female', 'Sex_male', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T', 'Cabin_U', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Embarked_U', 'Title_Capt', 'Title_Col', 'Title_Don', 'Title_Dr', 'Title_Jonkheer', 'Title_Lady', 'Title_Major', 'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme', 'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir', 'Title_the', 'class_ticket_A', 'class_ticket_AS', 'class_ticket_C', 'class_ticket_CA', 'class_ticket_CASOTON', 'class_ticket_FC', 'class_ticket_FCC', 'class_ticket_Fa', 'class_ticket_LINE', 'class_ticket_PC', 'class_ticket_PP', 'class_ticket_PPP', 'class_ticket_SC', 'class_ticket_SCA', 'class_ticket_SCAH', 'class_ticket_SCOW', 'class_ticket_SCPARIS', 'class_ticket_SCParis', 'class_ticket_SOC', 'class_ticket_SOP', 'class_ticket_SOPP', 'class_ticket_SOTONO', 'class_ticket_SOTONOQ', 'class_ticket_SP', 'class_ticket_STONO', 'class_ticket_SWPP', 'class_ticket_U', 'class_ticket_WC', 'class_ticket_WEP', 'Title_Dona', 'class_ticket_AQ', 'class_ticket_LP', 'class_ticket_STONOQ'] ['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare', 'num_ticket', 'Sex_female', 'Sex_male', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_U', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Title_Col', 'Title_Dona', 'Title_Dr', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'class_ticket_A', 'class_ticket_AQ', 'class_ticket_C', 'class_ticket_CA', 'class_ticket_FC', 'class_ticket_FCC', 'class_ticket_LP', 'class_ticket_PC', 'class_ticket_PP', 'class_ticket_SC', 'class_ticket_SCA', 'class_ticket_SCAH', 'class_ticket_SCPARIS', 'class_ticket_SCParis', 'class_ticket_SOC', 'class_ticket_SOPP', 'class_ticket_SOTONO', 'class_ticket_SOTONOQ', 'class_ticket_STONO', 'class_ticket_STONOQ', 'class_ticket_U', 'class_ticket_WC', 'class_ticket_WEP', 'Cabin_T', 'Embarked_U', 'Title_Jonkheer', 'Title_Lady', 'Title_Major', 'Title_Mlle', 'class_ticket_CASOTON', 'class_ticket_Fa', 'class_ticket_LINE', 'class_ticket_PPP', 'class_ticket_SCOW', 'class_ticket_SOP', 'class_ticket_SP', 'class_ticket_SWPP', 'Title_Don', 'Title_Capt', 'Title_Mme', 'Title_Sir', 'Title_the', 'class_ticket_AS']

In [146]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.67      0.71       266
           1       0.53      0.64      0.58       152

    accuracy                           0.66       418
   macro avg       0.65      0.66      0.65       418
weighted avg       0.68      0.66      0.67       418